.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 0px;
    margin: 1px 0;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 50px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

.wrap {
    height: 500px;
    padding: 15px;
    border-color: #0f5132;
    border: solid 1px;
    overflow-y: scroll;
}

.mes_left {
    float: left;
    margin-right: 150px;
}

.mes_right {
    float: right;
    display: flex;
    margin-top: 5px;
}

.mess_icon {
    height: 40px;
    width: 30px;
}

.enter_mess {
    width: 450px;
}

